<h1>Working handlebars</h1>

<form action="/api/addlisting" method="POST">
    Name: <input type="text" name="name" /><br />
    Description: <input type="text" name="description" /><br />
    Price: <input type="text" name="price" /><br />
    <input type="submit" value="Add Listing" />
</form>