<h1>Working handlebars</h1>

<h1>House</h1>
<br>
{{!-- <form>
    <div class="form-group">
        <label for="price">
            <h2>Price</h2>
        </label>
        <select class="price-control" id="price">
            <option> $50,000 - $100,000</option>
            <option>$100,001 - $200,000</option>
            <option>$200,001 - $300,000</option>
            <option>$200,001 - $300,000</option>
        </select>
    </div>
    <div class="form-group">
        <label for="size">
            <h2>Size</h2>
        </label>
        <select class="size-control" id="size">
            <option> 500sqft - 1,000sqft</option>
            <option>1,001sqft - 1,750sqft</option>
            <option>1,751sqft - 2,250sqft</option>
            <option>2,251sqft - 3,000 sqft</option>
            <option>3,001sqft - 3,750sqft</option>
        </select>
        <form>
            <h3>Beds</h3>
            <input type="radio" name="beds" value="1"> 1<br>
            <input type="radio" name="beds" value="2"> 2<br>
            <input type="radio" name="beds" value="3"> 3<br>
            <input type="radio" name="beds" value="4"> 4<br>
            <input type="radio" name="beds" value="5"> 5<br>
            <input type="radio" name="beds" value="6"> 6<br>
        </form>
        <form>
            <h3>Baths</h3>
            <input type="radio" name="baths" value="1"> 1<br>
            <input type="radio" name="baths" value="2"> 2<br>
            <input type="radio" name="baths" value="3"> 3<br>
            <input type="radio" name="baths" value="4"> 4<br>
            <input type="radio" name="baths" value="5"> 5<br>
            <input type="radio" name="baths" value="6"> 6<br>
    </div>
</form>
<button type="button" class="btn btn-primary">Search</button> --}}

<form action="/api/addlisting" method="POST">
    Address: <input type="text" name="address" /><br />
    Description: <input type="text" name="description" /><br />
    Price: <input type="number" name="price" /><br />
    <h3>Beds</h3>
    <input type="radio" name="beds" value="1" checked> 1
    <input type="radio" name="beds" value="2"> 2
    <input type="radio" name="beds" value="3"> 3
    <input type="radio" name="beds" value="4"> 4
    <input type="radio" name="beds" value="5"> 5
    <input type="radio" name="beds" value="6"> 6
    <h3>Baths</h3>
    <input type="radio" name="baths" value="1" checked> 1
    <input type="radio" name="baths" value="2"> 2
    <input type="radio" name="baths" value="3"> 3
    <input type="radio" name="baths" value="4"> 4
    <input type="radio" name="baths" value="5"> 5
    <input type="radio" name="baths" value="6"> 6
    <input type="submit" value="Add Listing" />
</form>

<a href="/listing">View Listings</a>