<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="jumbotron">


                <h1>Listing Page</h1>
                {{!-- This adds the submitted house to our listing page  --}}
                <h2>Available</h2>
                <ul>
                    {{#each house}}
                    {{#if isAvailable}}
                    <li>
                        {{> listing/listing-block}}
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
                <h2>Sold</h2>
                <ul>
                    {{#each house}}
                    {{#unless isAvailable}}
                    <li>
                        {{> listing/listing-block}}
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>