/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
} */

body {
  padding: 10px;
  margin: 12px;
  background: aqua;
  background-image: url("../images/background.jpeg");
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}