{{!-- Handlebars about page --}}

<div class="jumbotron">

    <h1>About</h1>
    <p>
        My Personal FSBO House Tracker lets you keep track of potential home purchases by adding them, deleting them, and also making a favorites list.
    </p>
</div>