<div class="jumbotron">

    <h1>About</h1>
    <p>
        My Personal FSBO House Tracker lets you keep track of potential home purchases by adding them to
        your list using address, square footage and bed/bath count. All of them are listed until you delete
        them.
    </p>
</div>